:root {
  --darkblue: #184353;
  --lightblue: #80a4b2;
  --orangered: #ed554b;
  --green: #08aa9c;
  --white: #ffffff;
  --grey: #e0e0e0;
  --yellow: #edd596;
  --purple: #1e1732;
}

body {
  font-family: "Dosis", sans-serif;
  text-align: center;
}

h2 {
  padding: 10px;
}

ul {
  list-style-type: none;
}

button {
  all: unset;
  border: none;
  background: none;
  padding: 1rem;
  border-radius: 10px;
  color: var(--white);
  font-weight: 700;
  background-color: var(--lightblue);
  cursor: pointer;
}

a {
  text-decoration: none;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------------------- Nav Bar ------------------------- */

.nav-logo {
  font-size: 2rem;
  color: var(--white);
}

.nav-bar-content {
  display: flex;
  background: var(--orangered);
  font-weight: 700;
  justify-content: space-evenly;
  align-items: center;
  padding: 2vh;
}

/* --------------------- Home ------------------------- */

/* --------------------- Users ------------------------- */

.user-card {
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;
  padding: 20px;
  min-width: 30vw;
}

.user-card__text {
  color: var(--white);
  font-weight: 900;
}

.user-profile {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgb(89, 89, 89);
}

.follower-profile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.followers-section {
  display: flex;
  flex-direction: row;
}

.follower-profile {
  padding: 2px;
}
