<section>
    <section>
        Users
        <ul>
            {{#each usersWithFollowers}}
            <li>
                <h3>{{user_name}}</h3>
                <image class="user-profile" src={{user_image}} />
                <h5>Following</h5>
                <ul>
                    {{#each follower_details}}
                    <li>
                        <p>{{this.follower_name}}</p>
                        <image class="follower-profile" src={{this.follower_image}} />
                    </li>
                    {{/each}}
                </ul>

            </li>
            {{/each}}
        </ul>
    </section>
</section>