<section>


    <h2>Users content</h2>
    <ul>
        {{#each userContent}}
        <li class="user-card">
            <audio controls>
                <source src="./assets/{{title}}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </li>
        {{/each}}
    </ul>
</section>