<section>
    <section>
        Users
        <ul>
            {{#each users}}
            <li>
                <h3>{{user_name}}</h3>
                <image src={{user_image}} />
                <p>Following</p>
                {{!-- {{following_list}} --}}
                <ul>
                    {{#each following_list}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>

            </li>
            {{/each}}
        </ul>
    </section>
</section>