<section class="home-page">
    <h2>Welcome to Sync Kick!</h2>

    <h3>Listen and share great content with your friends</h3>

    <a href="/users">
        <button class="users-button">Pretend to be a user</button>
    </a>
</section>