<section>
  <h2>Users (the TEAM)</h2>
  <ul>
    {{#each usersWithFollowers}}
    <li class="user-card">
      <h3>{{user_name}}</h3>
      <image class="user-profile" src={{user_image}} />
      <h5>Following</h5>

      <div class="followers-section">
        {{#each follower_details}}
        <div class="follower">
          <image class="follower-profile" src={{this.follower_image}} />
        </div>
        {{/each}}
      </div>

    </li>
    {{/each}}
  </ul>
</section>