<section class="page">
  <h2> Tracks</h2>
  {{#each userContent}}
  <div class="user-card">
    <p class="user-card__text">{{title}}</p>
    <audio controls>
      <source src="../../assets/{{filename}}#t={{point_of_time}}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
  {{/each}}
</section>